.mat-toolbar {
    background-color: #4287D6;
    color: #FFF;
    height: 65px;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: normal;
}
.mat-toolbar span {
    margin-left: 20px;
}
div.container {
    padding: 30px;
}

body {
    background-color: #ECEFF2;
}