div.inline-select {
    display: inline;
    margin-right: 20px;
}

code {
    background-color: #F3F3F3;
}


div.meta-holder {
    display: flex;
}

div.meta-box {
    margin-right: 20px;
}

mat-card {
    margin-bottom: 20px;
}